* {
	color: white;
	font-family: "Courier New", Courier, monospace;
}

html, body {
	background-color: #061306;
	margin: 0;
	padding: 0;
}

input[type="file"] {
	height: 0px;
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 0px;
}

.clip {
	cursor: move;
	outline: 1px solid #00FF00;
	position: absolute;
}

#content {
	display: flex;
	height: calc(100vh - 50px);
}

.dropbutton, .dropoption, .initialbutton, #sidenav a, #play {
	cursor: pointer;
	outline: none;
	user-select: none;
}

.dropdown:hover .dropbutton, .dropoption:hover, .initialbutton:hover, #sidenav a:hover, #play:hover {
	background-color: #004000;
}

.dropdown .dropbutton:active, .dropoption:active, .initialbutton:active, #sidenav a:active, #play:active {
	background-color: #00FF00;
}

.dropbutton {
	background-color: transparent;
	border: none;
	display: inline-block;
	font-size: medium;
	mix-blend-mode: screen;
	padding: 16px;
}

.dropcontent {
	background-color: #061306;
	border-bottom: 1px solid #00FF00;
	border-left: 1px solid #00FF00;
	border-right: 1px solid #00FF00;
	display: none;
	min-width: 160px;
	position: absolute;
	z-index: 1;
}

.dropdown {
	float: left;
	height: 100%;
	overflow: hidden;
}

.dropoption {
	display: block;
	padding: 16px;
}

#initial {
	font-size: xx-large;
	padding: 32px;
	text-align: center;
}

.initialbutton {
	background-color: black;
	border: 1px solid #00FF00;
	display: inline-block;
	font-size: x-large;
	padding: 16px 64px;
}

#mainnav {
	overflow: scroll;
	width: calc(100vw - 322px);
	word-break: break-word;
}

#play {
	background-color: transparent;
	border: 1px solid #00FF00;
	display: inline-block;
	font-size: medium;
	height: 24px;
	width: 64px;
}

#playback {
	background-color: black;
	border-top: 2px solid #00FF00;
	bottom: 0;
	height: 32px;
	padding: 16px;
	position: fixed;
	width: 100%;
}

#playlist {
	display: inline-block;
	min-width: 100%;
	position: relative;
}

#sidenav {
	border-right: 1px solid #00FF00;
	overflow: scroll;
	padding: 8px;
	width: 320px;
}

#sidenav a {
	border-bottom: 1px solid #004000;
	display: block;
	padding: 8px;
}

#time {
	font-size: large;
}

.timelabel {
	border-left: 1px solid gray;
	bottom: 0;
	color: gray;
	font-size: xx-small;
	position: absolute;
}

#timeline {
	border-bottom: 1px solid gray;
	cursor: pointer;
	height: 16px;
	position: relative;
	width: 100%;
}

#title {
	float: left;
	margin: 0;
	padding: 4px 16px 0 16px;
}

#topnav {
	background-color: #061306;
	border-bottom: 2px solid #00FF00;
	box-shadow: 0 -32px 32px -32px #00FF00 inset;
	height: 48px;
	width: 100%;
}

.track {
	background-color: black;
	border-bottom: 1px solid #00FF00;
	display: flex;
	height: 128px;
	position: relative;
	width: 100%;
}

#zoom {
	border-bottom: 2px solid #00FF00;
	height: 64px;
	width: 100%;
}