* {
	color: white;
	font-family: "Courier New", Courier, monospace;
}

html, body {
	background-color: black;
}

h1, h2, h3, audio, img, input, select {
	margin: 6px 0;
}

h1 {
	text-align: center;
}

img, input[type="image"] {
	outline: none;
	vertical-align: middle;
}

input[type="checkbox"], input[type="file"], input[type="submit"], label, select {
	cursor: pointer;
}

input[type="number"]:hover, input[type="submit"]:hover, select:hover, textarea:hover {
	border: 1px solid white;
}

input[type="number"], input[type="submit"], select, textarea {
	background-color: transparent;
	border: 1px solid #00FF00;
	border-radius: 8px;
	box-sizing: border-box;
	width: 100%;
}

input[type="number"], select {
	font-size: medium;
	height: 32px;
	padding-left: 8px;
}

input[type="submit"] {
	box-shadow: 0 0 16px #00FF00;
	font-size: large;
	height: 48px;
}

input[type="submit"]:active {
	border: 1px solid white;
	box-shadow: none;
	outline: none;
}

input[type="submit"]:hover {
	box-shadow: 0 0 16px white;
}

textarea {
	display: block;
	font-size: small;
	height: 16em;
	margin-bottom: 12px;
	padding: 12px;
	resize: vertical;
}

form, #result {
	border: 1px solid #00FF00;
	border-radius: 8px;
	box-shadow: 0 0 32px #00FF00;
	margin: 8px 10%;
	padding: 12px 24px;
}

#acapella, #disillusion, #inputPlayer, #options, #outputPlayer, #result, #rosen, #vocals {
	display: none;
}

#spinner {
	animation: spin 1s linear infinite;
	border: 8px solid #008000;
	border-radius: 50%;
	border-top: 8px solid #00FF00;
	float: right;
	height: 16px;
	width: 16px;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}